/* login.css */
/* login.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("C:/Users/sahit/Downloads/floodimg.webp"); /* Ensure this path is correct */
    background-size: cover; /* Makes the image cover the whole container */
    background-position: center;
    background-repeat: no-repeat; /* Prevents the background from repeating */
}

.login-form {
    padding: 40px;
    border-radius: 50px;
    box-shadow: 0 40px 20px rgba(0, 0, 0, 0.1);
    width: 750px;
    text-align: center;
    background-color: rgba(41, 38, 38, 0.8); /* Optional: semi-transparent background for form */
}

/* Style the heading */
.login-form h2 {
    font-size: 50px;
    color: #f0e1e1;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
}

/* Input fields styling */
.login-form input {
    width: 80%;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

/* Input focus effects */
.login-form input:focus {
    border-color: #007bff;
    outline: none;
}

/* Login button styling */
.login-form button {
    width: 50%;
    padding: 15px;
    font-size: 55px;
    color: rgb(77, 14, 195);
    background-color: #d5eff4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

/* Button hover effect */
.login-form button:hover {
    background-color: #dcb774;
}
.lab {
    font-size: 30px;
    color: rgb(253, 255, 253);

}